In [1]:
!pip install mysqlclient

Collecting mysqlclient
  Downloading mysqlclient-2.1.1-cp39-cp39-win_amd64.whl (178 kB)
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.1.1

In [2]:
import MySQLdb

In [7]:
#connection settings

connection = MySQLdb.connect(
    host="localhost",
    user="root",
    passwd="y7play84gol",
    db="python_db",
    charset="utf8"
)

cursor = connection.cursor()

#テーブル初期化
cursor.execute("DROP TABLE IF EXISTS name_age_list")

cursor.execute(
    "CREATE TABLE name_age_list(id INT(11) AUTO_INCREMENT NOT NULL, name VARCHAR(30) NOT NULL COLLATE utf8mb4_unicode_ci, age INT(3) NOT NULL, PRIMARY KEY (id))"
)

cursor.execute(
    """
    INSERT INTO name_age_list (name, age)
    VALUES ('タロー', '25'),
    ('ジロー', '23'),
    ('サブロー', '21')
    """
)

cursor.execute("SELECT * FROM name_age_list")

for row in cursor:
    print(row)
    


connection.commit()
connection.close()

(1, 'タロー', 25)
(2, 'ジロー', 23)
(3, 'サブロー', 21)

In [10]:
connection = MySQLdb.connect(
    host="localhost",
    user="root",
    passwd="y7play84gol",
    db="python_db",
    charset="utf8"
)

cur=connection.cursor()

cur.execute("select * from name_age_list")

for row in cur:
    print(row)
    
connection.commit()
connection.close()

(1, 'タロー', 25)
(2, 'ジロー', 23)
(3, 'サブロー', 21)